<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assign document_title = page.browser_title | default: page.title %}
    {% if document_title %}
    <title>{{ document_title | escape }}</title>
    {% endif %}
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  </head>
  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="post-content">
          {{ content }}
        </div>
      </div>
    </main>
  </body>
</html>
